/* TITLE */
.section-title{
	background-color: var(--purple-3);
	display: flex;
}
.div-title{
	align-self: center;
	color: var(--white);
	width: 100%;
}
.div-title h1, .div-title h2{
	text-shadow: 5px 5px var(--purple-1);
}

/* Notice */
.notice{
	background-color: var(--red);
	color: var(--white);
	padding: 20px;
	text-align: center;
}

/* WORKS */
.section-works{
	background-color: var(--purple-2);
	color: var(--white);
}
.section-works h2{
	padding: 20px;
	text-align: center;
}
.section-works h3{
	text-align: center;
	padding: 10px;
}
/* Instagram Profile */

/* Instagram Gallery */
.ig-div-gallery{
	background-color: var(--white);
	margin: 20px;
	padding: 20px;
	text-align: center;
}
.ig-div-gallery img{
	height: 50px;
	padding: 5px;
	width: 50px;
} 
.ig-div-gallery-firstrow img{
	background-color: yellow;
}
.ig-div-gallery-secondrow img{
	background-color: green;
}