body{
	margin: 0px;
}
ul{
	margin: 0px;
}

/*NAVEGAÇÃO*/
/*Geral*/
ul li{
	display: inline-block;
	list-style: none;
	margin: 0px;
}
ul li a{
	text-decoration: none;
}
header{
	background-color: red;
}
/*Navegação*/
.ul-navigation{
	background-color: blue;
}
/*Idioma*/
.ul-dropdown{
	background-color: green;
}