section{
	background-color: var(--white);
}
aside{
	background-color: var(--gray-1);
	color: var(--white);
	height: 100%;
	left: 0px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: all;
	width: 20%;
}
article{
	background-color: var(--white);
	color: black;
	margin-left: 20%;
	padding: 20px;
}