/* TITLE */
.section-title{
	background-color: var(--purple-3);
	display: flex;
}
.div-title{
	align-self: center;
	color: var(--white);
	width: 100%;
}
.div-title h1, .div-title h2{
	text-shadow: 5px 5px var(--purple-1);
}

/* Notice */
.notice{
	background-color: var(--red);
	color: var(--white);
	padding: 20px;
	text-align: center;
}