@import url("stylemain.css");

/* GENERAL */
/* Divisions */
body{
	user-select: none;
}

/* NAVIGATION */
/* Divisions  */
nav{
	background-color: var(--purple-7);
	font-size: var(--nav-font-size);
}
a{
	text-decoration: none;
}
li{
	color: var(--purple-1);
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 2%;
}
/* Hover */
li:hover{
	background-color: var(--purple-1);
	color: var(--purple-7);
	cursor: pointer;
}
/* Buttons */
.button-dropdown{
	vertical-align: middle;	
}

/* LANGUAGE */
.ul-dropdown{
	background-color: var(--purple-6);
}