@import url("colorpallete.css");

body{
	font-size: 16pt;
	margin: 0px;
}
iframe{
	background-color: var(--black);
	border: 0px;
	max-height: 100%;
	overflow: hidden;
	width: 100%;
}
section{
	min-height: 100vh;
}