body{
	background: var(--purple-3) url(/resources/images/wallpaper_code.jpg) no-repeat fixed center/cover;
}
/* TITLE */
.section-title{
	background-color: rgba(100,0,200,0.95);
	display: flex;
}
.div-title{
	align-self: center;
	color: var(--white);
	width: 100%;
}
.div-title h1, .div-title h2{
	text-align: left;
	text-shadow: 5px 5px var(--purple-1);
}

/* NOTICE */
.notice{
	background-color: var(--red);
	color: var(--white);
	padding: 20px;
	text-align: center;
}

/* WELCOME */
.section-welcome{
	background-color: var(--purple-1);
	color: var(--white);
	text-align: center;
}
/* Rows */
.section-welcome article{
	height: auto;
	overflow: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
}
.section-welcome article div{
	box-shadow: 5px 5px var(--gray-4);
	float: left;
	padding: 0px;
	width: 30%;
}
.section-welcome article div p{
	margin: 30px;
	text-align: justify;
}
.div-first-row, .div-third-row{
	background-color: var(--purple-2);
	color: var(--white);
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.div-second-row{
	background-color: var(--purple-7);
	color: var(--black);
}

/* WORKS */
.section-works{
	background-color: var(--purple-2);
	color: var(--white);
	position: relative;
}
.section-works h3{
	text-align: center;
	padding: 10px;
}
/* Gallery */
.div-gallery{
	background-color: var(--purple-4);
	box-shadow: 20px 20px var(--purple-3);
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	text-align: center;
}
.div-gallery.hidden, .h3-slide-title.hidden{
	display: none;
}
.div-gallery img{
	align-self: center;
	height: auto;
	padding: 5px;
	width: 100%;
}
.div-gallery img:hover{
	margin-left: 10%;
	width: 80%;
}
/* Dots */
.div-dots{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--purple-1);
	text-align: center;
	/*margin-top: 5%;
	padding-top: 10px;
	padding-bottom: 10px;*/
	user-select: none;
	width: 100%;
}
.svg-dot{
	color: var(--gray-2);
}
.svg-dot:hover{
	color: var(--gray-3);
	cursor: pointer;
	transition: 0.5s;
}
.svg-dot.selected{
	color: var(--white);
}

/* ABOUT */
.section-about{
	background-color: var(--purple-7);
	float: left;
}
.section-about div{
	padding: 20px;
}
.section-about p{
	padding-left: 60px;
	padding-right: 60px;
	text-align: justify;
}
.section-about figure{
	display: inline-block;
	float: right;
}