body{
	background: var(--purple-3) url(/resources/images/wallpaper_code.jpg) no-repeat fixed center/cover;
}





/* TITLE */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section-title{
	background-color: rgba(100,0,200,0.95);
	display: flex;
}
.div-title{
	align-self: center;
	color: var(--white);
	width: 100%;
}
.div-title h1, .div-title h2{
	text-align: left;
	text-shadow: 5px 5px var(--purple-1);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* NOTICE */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.notice{
	background-color: var(--red);
	color: var(--white);
	padding: 20px;
	text-align: center;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* ABOUT */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section-about{
	background-color: var(--purple-7);
}
.section-about div{
	padding: 20px;
}
.section-about p{
	padding-left: 60px;
	padding-right: 60px;
	text-align: justify;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* VALUES */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section-values{
	background-color: var(--purple-1);
	color: var(--white);
	text-align: center;
}
/* Rows */
.section-values article{
	height: auto;
	overflow: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
}
.section-values article div{
	box-shadow: 5px 5px var(--gray-4);
	float: left;
	padding: 0px;
	width: 30%;
}
.section-values article div p{
	margin: 30px;
	text-align: justify;
}
/* COLUMNS */
.div-first-column, .div-third-column{
	background-color: var(--purple-2);
	color: var(--white);
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.div-second-column{
	background-color: var(--purple-7);
	color: var(--black);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* WORKS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section-works{
	background-color: var(--purple-2);
	color: var(--white);
	position: relative;
}
.section-works h3{
	text-align: center;
	padding: 10px;
}
/* Gallery */
.div-gallery{
	background-color: var(--purple-4);
	box-shadow: 20px 20px var(--purple-3);
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	text-align: center;
}
.div-gallery.hidden, .h3-slide-title.hidden{
	display: none;
}
.div-gallery img{
	align-self: center;
	height: auto;
	padding: 5px;
	width: 100%;
}
.div-gallery img:hover{
	margin-left: 10%;
	width: 80%;
}
/* Dots */
.div-dots{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--purple-1);
	text-align: center;
	/*margin-top: 5%;
	padding-top: 10px;
	padding-bottom: 10px;*/
	user-select: none;
	width: 100%;
}
.svg-dot{
	color: var(--gray-2);
}
.svg-dot:hover{
	color: var(--gray-3);
	cursor: pointer;
	transition: 0.5s;
}
.svg-dot.selected{
	color: var(--white);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */





/* CONTACT */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* MAIN */
.section-contact{
	background-color: var(--gray-5);
}
.section-contact div{
	background-color: var(--gray-1);
	color: var(--gray-5);
	text-align: justify;
	padding: 50px;
	margin: 50px 10% 50px 10%;
	border-radius: 2px;
}

.section-contact span img{
	height: 1em;
	margin-bottom: -3.5px;
	width: auto;
}
.section-contact span{
	color: var(--white);
	cursor: pointer;
	border-radius: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px;
	word-break: keep-all;
	white-space: nowrap;
}
.section-contact span:hover{
	transition-duration: 1s;
}
.section-contact p{
	margin: 5 px;
}

/* BUTTON COLORS */
/* Github */
#span-github{
	background-color: var(--black);
}
#span-github:hover{
	background-color: var(--gray-2);
}
/* Outlook */
#span-outlook{
	background-color: rgba(0, 100, 185, 1);
}
#span-outlook:hover{
	background-color: rgba(40, 170, 235, 1);
}
/* Google */
#span-google{
	background-color: rgb(200, 35, 30);
}
#span-google:hover{
	background-color: rgba(215, 70, 65);
}
/* Linkedin */
#span-linkedin{
	background-color: rgb(15, 150, 220);
}
#span-linkedin:hover{
	background-color: rgb(75, 175, 230);
}
/* Whatsapp */
#span-whatsapp{
	background-color: rgb(40, 180, 55);
}
#span-whatsapp:hover{
	background-color: rgb(100, 225, 115);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */