@import url("variables.css");
@import url("mediaquery.css");

/* RESET */
/* Divisions */
ul{
	padding: 0px;
	margin: 0px;
}
/* Texts */
h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
p{
	margin: 0px;
}

/* GENERAL */
/* Divisions */
body{
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 16pt;
	margin: 0px;
}
section{
	min-height: 100vh;
}
/* Images */
iframe{
	border: 0px;
}
figure{
	background-color: var(--purple-2);
	border-radius: 5px;
	padding: 10px;
}
figcaption{
	background-color: var(--purple-4);
	color: var(--white);
	text-align: center;
	border-radius: 10px;
}
/* Links */
a{
	color: var(--purple-2);
	text-decoration: none;
}
a:hover{
	color: var(--purple-4);
}
a:active{
	color: var(--purple-5);
}
/* Texts */
h1{
	padding: 20px;
}
h2{
	font-size: 24pt;
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px var(--gray-3);
}

/* No Script */
noscript section{
	background-color: var(--purple-3);
}
noscript h1{
	background-color: var(--purple-1);
	color: var(--purple-6);
	font-size: 5vw;
	padding: 20px;
	text-align: center;
}
noscript p{
	color: var(--purple-7);
	padding: 5%;
}

.div-iframe-header{
	background-color: var(--purple-7);
}
.div-iframe-footer{
	background-color: var(--black);
}
#iframe-header, #iframe-footer{
	width: 100%;
}
